[submodule "Protogasm/Protogasm-Original"]
	path = Protogasm/Protogasm-Original
	url = https://github.com/night-howler/protogasm
[submodule "Edge-o-Matic/Uno-Pressure-Shield"]
	path = Edge-o-Matic/Uno-Pressure-Shield
	url = https://github.com/MausTec/eom-uno-pressure-shield
[submodule "Edge-o-Matic/Edge-o-Matic"]
	path = Edge-o-Matic/Edge-o-Matic
	url = https://github.com/MausTec/nogasm-wifi
[submodule "Nogasm/Nogasm-original"]
	path = Nogasm/Nogasm-original
	url = https://github.com/nogasm/nogasm
